<!DOCTYPE html>
<html>
<head>
	<title>DASH BOARD</title>
</head>
<body> 
	<div class="nav-wrapper">
	<a>STUDY OWL DASHBOARD</a>
	<ul class="right hide-on-med-and-down">
			<%=JSON.stringify(res1[0].name)%>
		<a href='http://localhost:5000/studyowl-chandra/us-central1/app/profile/<%=res1[0].uid%>'>Profile</a>
		<!-- Dropdown Trigger -->

	</ul>
</div>
<h1>Projects: <br></h1>
<ul><% for(var i=0;i<res.length;i++){ %>
<li><%=JSON.stringify(res[i].pname)%> %><% for(var j=0;j<res[i].fields.length;j++){ %>
	<%=JSON.stringify(res[i].fields[j])%> %><% } %>
	
</li> <a href="/viewp/<%=res[i].pid%>/"><button>view this project</button></a>
<% } %>
</ul>



</body>
</html>